@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>KnockoutJS 101</h1>
    <p class="lead">Let's use this project to develop our DevOps pipelines.</p>
    <p>
        <ul>
            <li>@Html.ActionLink("Page 1", "Page1", "Home")</li>
            <li>@Html.ActionLink("Page 2", "Page2", "Home")</li>
        </ul>
    </p>
</div>