
@{
    ViewBag.Title = "Page3";
}

<h2>Page3</h2>

<p>Page 3 will be awesome!</p>
<p>No, seriously, when we add that Knockout code you will be knocked out!</p>
<p>Will this commit trigger a release build?</p>

